<div class="bg-body-tertiary h-100" style="width: 20rem;">

  <div class="p-2 d-flex justify-content-between" style="height:5%">
    <button class="btn btn-sm" type="button" (click)="onNew()">
      <i class="bi-journal-plus"></i>
    </button>

    <span>AI Chat</span>

    <button class="btn btn-sm" type="button" >
      <i class="bi-gear"></i>
    </button>
  </div>

  <ul class="list-group overflow-auto" style="max-height: 94%;">

    @for(conversation of conversations();track conversation){
    <li class="list-group-item d-flex justify-content-between text-start">
      <button type="button" class="btn" (click)="onSelect(conversation)">
        <div>{{conversation.title}}</div>
        <div class="text-muted small-text">{{conversation.on | date : 'long' }}</div>
      </button>

      <button class="btn btn-sm">
        <i class="bi-gear"></i>
      </button>
    </li>
    }

  </ul>
</div>