<div class="modal" tabindex="-1" id="settingsModal" [class.modal-shown]="isVisible()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">AI Chat Settings</h5>
          <button title="Close" type="button" class="btn-close" (click)="onHide()"><i class="bi-close"></i></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="deployment">Deployment</label>
            <input type="text" class="form-control" id="deployment" [(ngModel)]="config().deployment" placeholder="Deployment"/>
          </div>
          <div class="mb-3">
            <label for="apiKey">API Key</label>
            <input type="text" class="form-control" id="apiKey" [(ngModel)]="config().apiKey" placeholder="API Key"/>
          </div>
          <div class="mb-3">
            <label for="apiVersion">API Version</label>
            <input type="text" class="form-control" id="apiVersion" [(ngModel)]="config().apiVersion" placeholder="API Version" />
          </div>
          <div class="mb-3">
            <label for="model">Endpoint</label>
            <input type="text" class="form-control" id="endpoint" [(ngModel)]="config().endpoint" placeholder="Endpoint" />
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger me-auto" (click)="onDelete()">Delete all Conversations</button>
          <button type="button" class="btn btn-secondary" (click)="onHide()">Close</button>
          <button type="button" class="btn btn-primary" (click)="onSave()">Save changes</button>
        </div>
      </div>
    </div>
  </div>