<div class="d-flex vh-100">
  <app-side-bar class="flex-column flex-shrink-0" [isExpanded]="isExpanded" [config]="config" (delete)="onDeleteConversation($event)" [conversations]="conversations" (toggleExpanded)="onToggleExpanded()" (select)="onSelect($event)" (newConversation)="onNew()"></app-side-bar>
  <div class="flex-column flex-grow-1 h-100 d-flex">
    <app-header class="flex-column flex-grow-0" [conversation]="conversation" [config]="config" (change)="onConfigChange($event)" [isExpanded]="isExpanded" (toggleExpanded)="onToggleExpanded()" (clear)="onClear()"></app-header>
    @if(!conversation || conversation.messages.length === 0){
    <app-welcome id="welcome" class="flex-row flex-grow-q overflow-auto"></app-welcome>
    }
    @if(conversation && conversation.messages.length > 0){
    <app-responses id="responses" class="flex-row flex-grow-1 overflow-auto" [conversation]="conversation" [isLoading]="isLoading" [error]="error" (deleteMessage)="onDeleteMessage($event)"></app-responses>
    }
    <app-prompt class="flex-row flex-grow-0" (send)="onSend($event)" [config]="config"></app-prompt>
    <app-footer class="flex-row flex-grow-0"></app-footer>
  </div>
</div>