<div class="p-3 container-sm">

    @for(message of conversation()!.messages;track message){
    <span class="card card-body my-1 me-auto ms-auto border-1 radius-2 bg-light" [class.border-0]="message.role=='system' || message.role=='assistant'"
     [class.bg-light]="message.role=='user' && !isDarkMode">
        <div class="text-left">
            <markdown [data]="message.content"></markdown>
            <div class="d-flex justify-content-start">
                <a class="small-text mx-1" title="copy" href="#" (click)="onCopy($event,message)"><i class="bi-copy text-success"></i></a>
                <div class="text-muted ms-auto small-text">{{message.on | date : 'long' }}</div>
                <a class="small-text mx-1" title="delete" href="#" (click)="onDelete($event,message)"><i class="bi-trash text-danger"></i></a>
            </div>
        </div>
    </span>
    }

    @if(isLoading()){
    <div class="my-1 me-auto ms-auto">
        <div class="spinner-grow text-info" role="status">
            <span class="ms-5"></span>
        </div>
        <div class="spinner-grow text-success" role="status">
            <span class="ms-5"></span>
        </div>
        <div class="spinner-grow text-primary" role="status">
            <span class="ms-5"></span>
        </div>
    </div>
    }

    @if(error()){
    <div class="alert bg-danger text-light my-1 me-auto ms-auto">
        {{error().message}}
    </div>
    }

</div>